html, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

body, select {
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  margin: 0.5rem;
}

header #help {
  color: gray;
  float: right;
}

#board {
  flex: 1;
  display: flex;
  flex-direction: column;
  --border: 1px solid lightgray;
  border-top: var(--border);
  border-left: var(--border);
}

#board > .row {
  display: flex;
  flex-direction: row;
}

#board > .row > .cell {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-bottom: var(--border);
  border-right: var(--border);
}

#board > .row > .cell.filled {
  background-color: black;
}

#score {
  color: green;
  font-weight: bold;
}
